<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BMI Calculator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../../public/css/bmi.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">
    <header>
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../../public/images/lifehacklogo.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <h1>BMI Calculator</h1>

    <form method="post">
        <label for="height">Height [cm]:</label>
        <input id="height" name="height" type="number" step="0.1" required th:value="${height != null} ? ${height}"/><br/>

        <label for="weight">Weight [kg]:</label>
        <input id="weight" name="weight" type="number" step="0.1" required th:value="${weight != null} ? ${weight}"/><br/>

        <button type="submit" formaction="index.html" th:formaction="@{/bmi/}">Calculate</button>
    </form>
    <p th:if="${bmi != null}">Your BMI is <span th:text="${bmi}"></span></p>
    <p th:if="${bmiClassification != null}">Your BMI is classified as <span th:text="${bmiClassification}"></span></p>

</div>
</body>
</html>